.widgets{
    flex:0.3;
}
.widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-backColor);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }

.widgets_input > input {
    border: none;
    background-color: var(--twitter-backColor);
    outline: none;
}
.widgets_searcIcon{
    color: gray;
}
.widgets_widgetsContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f8fa;

}
.widgets_widgetsContainer > h2 {
    font-size: 18px;
    font-weight: 800;
} 